# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# DNX
project.lock.json
project.fragment.lock.json
artifacts/


/backend/bin/Debug/
/backend/.idea/
/backend/obj/
/backend/bin/
/.idea/
