:root {
    --sz1: 1em;
    --sz125: 1.25em;
    --sz15: 1.5em;
    --sz175: 1.75em;
}

.center {
    text-align: center;
}

.root_background {
    background-color: darkslategrey;
    height: 100vh;
    width: 100vw;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.max_size100 {
    max-height: 100%;
    max-width: 100%;
}

.max_size75 {
    max-height: 75%;
    max-width: 75%;
}

.max_size50 {
    max-height: 50%;
    max-width: 50%;
}

.size100 {
    height: 100%;
    width: 100%;
}

.size75 {
    height: 75%;
    width: 75%;
}

.size50 {
    height: 50%;
    width: 50%;
}

.hover {
    padding-left: .25em;
    padding-right: .25em;
}

.hover:hover
{
    background-color: darkslategrey;
    color: bisque;
    box-shadow: 0 0 1em .125em aquamarine;
    border-radius: .25em;
}

.hover:active {
    background-color: cadetblue;
    box-shadow: 0 0 1em .125em blue;
}

.round_borders {
    border: darkslategrey solid thin;
    border-radius: .5em;
    padding: .5em;
    margin: 1em;
}

.modal_container {
    position: relative
}

.modal_content {
    position: absolute;
}

.modal_bg {
    background-color: rgba(255, 255, 255, .85);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.red_bg{
    background-color: red;
}

.popup_modal {
    border: darkslategrey ridge thin;
    border-radius: .5em;
    padding: .5em;
    margin: 0 1em 1em 1em;
    z-index: 10;
    position: absolute;
    flex: 1;
    align-items: stretch;
}