.search_bar_input {
    margin: 1em 1em 0 1em;
}

.search_bar_txt {
    font-size: 2em;
    flex: 1;
    border-radius: .15em 0 0 .15em;
    padding: .15em .5em;
}

.search_bar_btn {
    font-size: 2em;
    margin: 0 .05em 0 .05em;
    background-color: darkslategrey;
    color: beige;
    border-radius: 0 .15em .15em 0;
}

.search_bar_results {
    border: darkslategrey ridge thin;
    border-radius: .5em;
    padding: .5em;
    margin: 0 1em 1em 1em;
    z-index: 10;
    position: absolute;
    flex: 1;
    align-items: stretch;
}

.search_bar_results_container {
    position: relative;
    justify-items: stretch;
}

.dri {
    flex: 1;
}

.flex_just_center {
    justify-content: space-between;
    column-gap: 1em;
}

