.card_table_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    border-bottom: darkslategrey solid .1em;
    padding-bottom: .5em;
}

.card_table_header_item {
    flex: 1;
    border-left: darkslategrey solid thin;
    text-align: center;
}

.card_table_cell_item_ends {
    flex: 1;
    text-align: center;
}

.card_table_cell {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: .5em;
    margin: .5em;
}

.card_table_cell_item {
    flex: 1;
}

.table_row:hover {
    background-color: darkslategrey;
    color: bisque;
    border-radius: .5em;
    font-weight: bolder;
    box-shadow: 0 0 1em .125em aquamarine;
}

.table_row:active {
    background-color: cadetblue;
    box-shadow: 0 0 1em .125em blue;
}