.dashboard_window {
    height: 80%;
    width: 70%;
    margin: 5% 15% 20% 15%;
    background-color: beige;
    float: left;
    position: absolute;
    box-shadow: 0 0 1em .125em aquamarine;
    border-radius: .25em;
    padding: 1em;
}

